canvas {
	border: none;
	background-color: white;
}

body {
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	user-select: none;
}

.panel {
	position: absolute;
	background-color: #f0f0f0;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

button {
	/*background: #EEE;
	border: none;*/
	padding: 3px;
	border-radius: 4px;
	/*font-size: large;*/
	margin: 2px;
	cursor: pointer;
}

.tool-button {
	width: 70px;
}

#toolsHolder {
	top: 0px;
	left: 0px;
}

#propertiesHolder{
	top: 20px;
	right: 0px;
}